In [1]:
import pandas as pd
import numpy as np

In [9]:
ser = pd.Series(np.random.rand(7),index=['a','b','c','d','e','f','g'],dtype=float)

In [10]:
ser

a    0.347102
b    0.573783
c    0.114339
d    0.666363
e    0.435532
f    0.532055
g    0.695621
dtype: float64

In [4]:
ser.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype='object')

In [11]:
ser.values

array([ 0.3471021 ,  0.57378348,  0.11433901,  0.66636261,  0.43553197,
        0.5320549 ,  0.6956206 ])

In [12]:
db={'US':'dollar','India':'rupee','UK':'euro'}

In [13]:
db

{'India': 'rupee', 'UK': 'euro', 'US': 'dollar'}

In [14]:
pdb = pd.Series(db)

In [15]:
pdb

India     rupee
UK         euro
US       dollar
dtype: object

In [16]:
pdb['India']

'rupee'

In [17]:
dgseries = pd.Series('xyz',index=['breed','location'])

In [18]:
dgseries

breed       xyz
location    xyz
dtype: object

ser = pd.Series(np.random.rand(7),index=['a','b','c','d','e','f','g'])

In [21]:
pdb[:'c']

India     rupee
UK         euro
US       dollar
dtype: object

In [22]:
ser

a    0.347102
b    0.573783
c    0.114339
d    0.666363
e    0.435532
f    0.532055
g    0.695621
dtype: float64

In [23]:
ser[:'c']

a    0.347102
b    0.573783
c    0.114339
dtype: float64

In [24]:
np.mean(ser)

0.48068495206584655

In [25]:
np.std(ser)

0.18749181015550953

In [28]:
#Dictionary of Series
stockSummaries={
'AMZN': pd.Series([346.15,0.59,459,0.52,589.8,158.88], 
        index=['Closing price','EPS',
                'Shares Outstanding(M)',
                'Beta', 'P/E','Market Cap(B)']),
    
'GOOG': pd.Series([1133.43,36.05,335.83,0.87,31.44,380.64],
        index=['Closing price','EPS','Shares Outstanding(M)',
               'Beta','P/E','Market Cap(B)']),
'FB': pd.Series([61.48,0.59,2450,104.93,150.92], 
      index=['Closing price','EPS','Shares Outstanding(M)',
             'P/E', 'Market Cap(B)']),
'YHOO': pd.Series([34.90,1.27,1010,27.48,0.66,35.36],
        index=['Closing price','EPS','Shares Outstanding(M)',
               'P/E','Beta', 'Market Cap(B)']),
'TWTR':pd.Series([65.25,-0.3,555.2,36.23],
       index=['Closing price','EPS','Shares Outstanding(M)',
              'Market Cap(B)']), 
'AAPL':pd.Series([501.53,40.32,892.45,12.44,447.59,0.84],
       index=['Closing price','EPS','Shares Outstanding(M)','P/E',
              'Market Cap(B)','Beta'])}

In [32]:
import pandas as pd
stockdf = pd.DataFrame(stockSummaries)

In [33]:
stockdf

                         AAPL    AMZN       FB     GOOG    TWTR     YHOO
Beta                     0.84    0.52      NaN     0.87     NaN     0.66
Closing price          501.53  346.15    61.48  1133.43   65.25    34.90
EPS                     40.32    0.59     0.59    36.05   -0.30     1.27
Market Cap(B)          447.59  158.88   150.92   380.64   36.23    35.36
P/E                     12.44  589.80   104.93    31.44     NaN    27.48
Shares Outstanding(M)  892.45  459.00  2450.00   335.83  555.20  1010.00

In [34]:
stockdf.T

      Beta  Closing price    EPS  Market Cap(B)     P/E  Shares Outstanding(M)
AAPL  0.84         501.53  40.32         447.59   12.44                 892.45
AMZN  0.52         346.15   0.59         158.88  589.80                 459.00
FB     NaN          61.48   0.59         150.92  104.93                2450.00
GOOG  0.87        1133.43  36.05         380.64   31.44                 335.83
TWTR   NaN          65.25  -0.30          36.23     NaN                 555.20
YHOO  0.66          34.90   1.27          35.36   27.48                1010.00

In [37]:
DjSample={'Dj1': pd.series['1','3','4','5'],
           'Dj2: pd.series['11','33','44','55']}

SyntaxError: invalid syntax (<ipython-input-37-0d4d4346929e>, line 2)

In [38]:
stockdf['AAPL']

Beta                       0.84
Closing price            501.53
EPS                       40.32
Market Cap(B)            447.59
P/E                       12.44
Shares Outstanding(M)    892.45
Name: AAPL, dtype: float64

In [39]:
type(stockdf['AAPL'])

pandas.core.series.Series

In [41]:
stockdf[['AAPL','FB']]

                         AAPL       FB
Beta                     0.84      NaN
Closing price          501.53    61.48
EPS                     40.32     0.59
Market Cap(B)          447.59   150.92
P/E                     12.44   104.93
Shares Outstanding(M)  892.45  2450.00

In [42]:
type(stockdf[['AAPL','FB']])

pandas.core.frame.DataFrame

In [43]:
type(stockdf[['AAPL']])

pandas.core.frame.DataFrame

In [44]:
stockdf[['AAPL']]

                         AAPL
Beta                     0.84
Closing price          501.53
EPS                     40.32
Market Cap(B)          447.59
P/E                     12.44
Shares Outstanding(M)  892.45

In [45]:
stockdf['ZEKE'] = stockdf['GOOG'] + 100

In [46]:
stockdf

,AAPL,AMZN,FB,GOOG,TWTR,YHOO,ZEKE
Beta,0.84,0.52,NaN,0.87,NaN,0.66,100.87
Closing price,501.53,346.15,61.48,1133.43,65.25,34.90,1233.43
EPS,40.32,0.59,0.59,36.05,-0.30,1.27,136.05
Market Cap(B),447.59,158.88,150.92,380.64,36.23,35.36,480.64
P/E,12.44,589.80,104.93,31.44,NaN,27.48,131.44
Shares Outstanding(M),892.45,459.00,2450.00,335.83,555.20,1010.00,435.83

In [47]:
stockdf['ZEKE'] = 100

In [48]:
stockdf

                         AAPL    AMZN       FB     GOOG    TWTR     YHOO  ZEKE
Beta                     0.84    0.52      NaN     0.87     NaN     0.66   100
Closing price          501.53  346.15    61.48  1133.43   65.25    34.90   100
EPS                     40.32    0.59     0.59    36.05   -0.30     1.27   100
Market Cap(B)          447.59  158.88   150.92   380.64   36.23    35.36   100
P/E                     12.44  589.80   104.93    31.44     NaN    27.48   100
Shares Outstanding(M)  892.45  459.00  2450.00   335.83  555.20  1010.00   100

In [56]:
ore1DF = pd.DataFrame(np.array([[20,35,25,20],[11,28,32,29]]),
                      columns=['iron','magnesium','copper','silver'],
                      index=['a','b'])

In [57]:
ore1DF

   iron  magnesium  copper  silver
a    20         35      25      20
b    11         28      32      29

In [59]:
df1 = pd.DataFrame({'abc': pd.Series([1,2,3,4], index=['a','b','c','e']),
                    'def':pd.Series([5,6,7,8], index=['a','b','c','d'])})

In [60]:
df1

   abc  def
a  1.0  5.0
b  2.0  6.0
c  3.0  7.0
d  NaN  8.0
e  4.0  NaN

In [61]:
df2=pd.DataFrame({'abc':pd.Series([1,2,3,4],index=['a','b','c','e']),
                  'def':pd.Series([4,6,7,9],index=['a','c','d','e'])})

In [62]:
df2

   abc  def
a  1.0  4.0
b  2.0  NaN
c  3.0  6.0
d  NaN  7.0
e  4.0  9.0

In [63]:
df1+df2

   abc   def
a  2.0   9.0
b  4.0   NaN
c  6.0  13.0
d  NaN  15.0
e  8.0   NaN

In [64]:
df3=pd.DataFrame({'abc':pd.Series([1,2,3,4],index=['a','b','c','e'])})

In [65]:
df3

   abc
a    1
b    2
c    3
e    4

In [66]:
df2+df3

   abc  def
a  2.0  NaN
b  4.0  NaN
c  6.0  NaN
d  NaN  NaN
e  8.0  NaN

In [67]:
np.sqrt(df1)

        abc       def
a  1.000000  2.236068
b  1.414214  2.449490
c  1.732051  2.645751
d       NaN  2.828427
e  2.000000       NaN

In [68]:
np.sqrt(df2)

        abc       def
a  1.000000  2.000000
b  1.414214       NaN
c  1.732051  2.449490
d       NaN  2.645751
e  2.000000  3.000000